body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.main-section {
    background: #d8eaf7;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    width: 100vw;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: #333;
    margin: 8px 0;
}

h2 {
    font-size: 24px;
    color: #777;
}

h3, p {
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.main-section {
    flex: 1 1 100%;
}

.about-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.about-section .aboutme {
    flex: 0 1 28%;
    margin-left: 12%;
}

.about-section .contact {
    flex: 0 1 20%;
    padding-left: 75px;
}

.profile-photo {
    background: #fff;
    border-radius: 100%;
    height: 100px;
    padding: 6px;
    border: 1px solid #ccc;
    margin-top: 30px;
}

a {
    display: block;
    font-size: 18px;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
}

.fab, .fas {    
    color: #333;
    font-size: 36px;
}

.fab:hover, .fas:hover, a:hover {
    color: #0077B5;
}

.about-section h2 {
    color: #000;
    margin-bottom: 10px;
}

.aboutme p {
    margin: 16px 0 20px 0;
    line-height: 24px;
}

.fa-codepen {
    font-size: 30px;
    line-height: 36px;
}

.icon-link-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 8px;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
}

@media all and (max-width:500px) {
    .fa-codepen {
        font-size: 52px;
        line-height: 52px;
    }

    .icon-link-text {
        font-size: 24px;
    }

    .about-section {
        flex-wrap: wrap;
        text-align: center;
    }

    .about-section .aboutme {
        flex: 1 1 100%;
        margin: 0;
    }

    .about-section .contact{
        padding-left: 0;
        margin-top: 30px;
        flex: 1 1 100%;
    }
    
    .about-section .contact-icons {
        margin-top: 20px;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .contact .icon-link-text {
        display: none;
    }

    .fab, .fas {    
        color: #333;
        font-size: 56px;
        padding: 0 14px;
    }
}