/* Media Queries */

@media (max-width: 1500px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  .hero__overlay {
    height: auto;
  }
}

@media (min-width: 2350px) {
  .about__mosaic {
    -ms-grid-rows: 200px 15px 200px 15px 200px 15px 200px;
    grid-template-rows: repeat(4, 200px);
    -ms-grid-columns: 250px 15px 200px 15px 200px 15px 200px;
    grid-template-columns: repeat(4, 200px);
  }
  .project__right__column {
    padding-left: 150px;
  }
}

@media (min-width: 2125px) {
  .about__mosaic {
    -ms-grid-rows: 175px 15px 175px 15px 175px 15px 175px;
    grid-template-rows: repeat(4, 175px);
    -ms-grid-columns: 175px 15px 175px 15px 175px 15px 175px;
    grid-template-columns: repeat(4, 175px);
  }
}

@media (max-width: 1680px) {
  .about__mosaic {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
  }
  .project__animation1,
  .project__animation2,
  .project__animation3,
  .project__animation4,
  .project__animation5,
  .project__animation6 {
    width: 350px;
  }
  .slick-active .project__animation2,
  .slick-active .project__animation4,
  .slick-active .project__animation6 {
    left: 250px;
  }
  @-webkit-keyframes projectanimation2 {
    0% {
      left: 125px;
      opacity: 0;
    }
    100% {
      left: 250px;
      opacity: 1;
    }
  }

  @keyframes projectanimation2 {
    0% {
      left: 125px;
      opacity: 0;
    }
    100% {
      left: 250px;
      opacity: 1;
    }
  }
}

@media (max-width: 1540px) {
  .about__mosaic {
    margin-left: 36vw;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: repeat(4, 80px);
  }
}

@media (max-width: 1400px) {
  .about__mosaic {
    top: 300px;
    margin-left: 36vw;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: repeat(4, 80px);
  }
  .project__animation1,
  .project__animation2,
  .project__animation3,
  .project__animation4,
  .project__animation5,
  .project__animation6 {
    width: 300px;
  }
  .slick-active .project__animation2.animated,
  .slick-active .project__animation4.animated,
  .slick-active .project__animation6.animated {
    top: -125px;
    left: 200px;
  }

  @-webkit-keyframes projectanimation2 {
    0% {
      left: 125px;
      opacity: 0;
    }
    100% {
      left: 200px;
      opacity: 1;
    }
  }

  @keyframes projectanimation2 {
    0% {
      left: 125px;
      opacity: 0;
    }
    100% {
      left: 200px;
      opacity: 1;
    }
  }

  @-webkit-keyframes projectanimation4 {
    0% {
      top: -200px;
      opacity: 0;
    }
    100% {
      top: -125px;
      opacity: 1;
    }
  }

  @keyframes projectanimation4 {
    0% {
      top: -200px;
      opacity: 0;
    }
    100% {
      top: -125px;
      opacity: 1;
    }
  }

  @-webkit-keyframes projectanimation6 {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: -125px;
      opacity: 1;
    }
  }

  @keyframes projectanimation6 {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: -125px;
      opacity: 1;
    }
  }
}

@media (max-width: 1300px) {
  .about__mosaic {
    top: 300px;
    margin-left: 36vw;
    grid-template-rows: repeat(4, 65px);
    grid-template-columns: repeat(4, 65px);
  }
}

@media (max-width: 1200px) {
  .hero__title {
    padding: 10px 0;
    font-size: 4.5vw;
  }
  .hero__subtitle {
    font-size: 2.5vw;
  }
  .about__overlay {
    display: none;
  }
  .about__overlay__tablet {
    display: block;
  }
  .about__mosaic {
    top: 480px;
    margin-left: 20vw;
    grid-template-rows: repeat(4, 85px);
    grid-template-columns: repeat(4, 85px);
  }
}

@media (max-width: 1150px) {
  .project__animation1,
  .project__animation2,
  .project__animation3,
  .project__animation4,
  .project__animation5,
  .project__animation6 {
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .about__overlay__tablet {
    display: none;
  }
  .about__overlay__mobile {
    display: block;
  }
}

@media (max-width: 960px) {
  .flexing {
    flex-direction: column-reverse;
  }
  .projects__slider {
    margin-top: 350px;
  }
  .project__left__column,
  .project__right__column {
    width: 80%;
  }
  .slick-list {
    overflow: visible;
  }
  .slick-dots {
    top: -300px;
  }
}

@media (max-width: 750px) {
  .about__overlay__mobile {
    display: none;
  }
  .about__overlay__xs {
    display: block;
  }
  .about__description {
    width: auto;
    margin-right: 30px;
  }
  .about__mosaic {
    top: 650px;
    margin-left: 18vw;
    grid-template-rows: repeat(4, 65px);
    grid-template-columns: repeat(4, 65px);
  }
}

@media (max-width: 650px) {
  .hero__title__block {
    padding-right: 45px;
  }
  .about__mosaic {
    margin: -150px auto 200px;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
    position: static;
  }
  .projects__section__title {
    margin-bottom: 50px;
  }
  .projects__slider {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .project__image.project__animation1,
  .project__image.project__animation3,
  .project__image.project__animation5 {
    position: static;
    margin: 0 auto 50px auto;
  }
  .project__image.project__animation2,
  .project__image.project__animation4,
  .project__image.project__animation6 {
    display: none;
  }
  .slick-dots {
    position: static;
  }
}

@media (max-width: 450px) {
  .hero__title__block {
    padding-right: 15px;
  }
  .hero__title {
    /* font-size: 1.5rem; */
    /* border: none; */
    width: 75%;
    margin: auto;
  }
  .hero__subtitle {
    font-size: 0.75rem;
    margin-top: 0;
  }
  .hero__icons {
    padding-top: 5px;
  }
  .hero__icons i {
    font-size: 1.75rem;
    padding-top: 0;
  }
  .about__mosaic {
    margin-left: 18vw;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
  }
}

@media (max-width: 414px) {
  .hero__overlay {
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about__overlay__xs {
    background-attachment: scroll;
    background-size: cover;
  }
  .projects__overlay {
    background-attachment: scroll;
    background-size: cover;
  }
}
