/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Media Queries */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    -webkit-transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 2125px) {
  .about__mosaic {
    grid-template-rows: repeat(4, 175px);
    grid-template-columns: repeat(4, 175px);
  }
}

@media (min-width: 2350px) {
  .about__mosaic {
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(4, 200px);
  }
  .project__right__column {
    padding-left: 150px;
  }
}

@media (max-width: 1750px) {
  .about__mosaic {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
  }
  .project__animation1,
  .project__animation3 {
    height: 395px;
    width: 350px;
  }
  .project__animation2,
  .project__animation4 {
    height: 220px;
  }
  .slick-active .project__animation2,
  .slick-active .project__animation4 {
    left: 280px;
  }

  @keyframes projectanimation2 {
    0% {
      left: 220px;
      opacity: 0;
    }
    100% {
      left: 280px;
      opacity: 1;
    }
  }
}

@media (max-width: 1545px) {
  .about__mosaic {
    top: 410px;
    margin-left: 36vw;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: repeat(4, 80px);
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 20px;
  }
  .about__mosaic {
    top: 350px;
  }
}

@media (max-width: 1440px) {
  .hero__overlay {
    height: auto;
  }
}

@media (max-width: 1400px) {
  .about__mosaic {
    top: 300px;
    margin-left: 36vw;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: repeat(4, 80px);
  }
  .project__animation1,
  .project__animation2,
  .project__animation3,
  .project__animation4 {
    width: 300px;
    opacity: 0;
  }
  .slick-active .project__animation2.animated,
  .slick-active .project__animation4.animated {
    top: -125px;
    left: 200px;
  }

  @keyframes projectanimation2 {
    0% {
      left: 125px;
      opacity: 0;
    }
    100% {
      left: 200px;
      opacity: 1;
    }
  }

  @keyframes projectanimation4 {
    0% {
      top: -200px;
      opacity: 0;
    }
    100% {
      top: -125px;
      opacity: 1;
    }
  }
}

@media (max-width: 1300px) {
  .about__mosaic {
    top: 480px;
    margin-left: 20vw;
    grid-template-rows: repeat(4, 85px);
    grid-template-columns: repeat(4, 85px);
  }
}

@media (max-width: 1200px) {
  .hero__title {
    padding: 10px 0;
  }
}

@media (max-width: 1150px) {
  .project__animation1,
  .project__animation2,
  .project__animation3,
  .project__animation4 {
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .hero__title__block {
    padding-right: 75px;
  }
}

@media (max-width: 960px) {
  .flexing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: auto;
  }
  .projects__slider {
    margin-top: 350px;
  }
  .project__left__column,
  .project__right__column {
    width: 80%;
  }
  .slick-list {
    display: block;
    overflow: visible;
  }
  .slick-track {
    width: 100% !important;
  }
  .slick-dots {
    top: -300px;
  }
  .project__image.project__animation1,
  .project__image.project__animation3 {
    position: static;
    margin: 0 auto 50px auto;
  }
  .project__image.project__animation2,
  .project__image.project__animation4 {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero__title__block {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .hero__overlay,
  .about__overlay,
  .projects__overlay {
    background-attachment: scroll;
    background-position: 0;
  }
}

@media (max-width: 750px) {
  .about__overlay {
    height: 735px;
    margin-bottom: 125px;
  }
  .about__description {
    width: auto;
    margin-right: 30px;
  }
  .about__mosaic {
    top: 500px;
    margin-left: 28vw;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
  }
}

@media (max-width: 700px) {
  .hero__icons i {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  h2 {
    letter-spacing: 0;
  }
  .hero {
    margin-bottom: 75px;
  }
  .hero__subtitle {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .about__overlay {
    margin-bottom: 0;
  }
  .about__mosaic {
    margin: -175px auto 75px;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
    position: static;
  }
  .projects__section__title {
    margin-bottom: 50px;
  }
  .projects__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .slick-list {
    margin-top: 20px;
  }
  .slick-dots {
    position: static;
  }
}

@media (max-width: 625px) {
  h1 {
    letter-spacing: 0;
  }
  .hero__title,
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .about__mosaic {
    margin-top: -100px;
    margin-bottom: 75px;
  }
}

@media (max-width: 530px) {
  .hero__subtitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .hero__icons i {
    font-size: 1.5rem;
  }
  .about__mosaic {
    margin-top: -75px;
  }
}

@media (max-width: 450px) {
  .hero__title,
  h3 {
    font-size: 1.5rem;
  }
  .hero__title__block {
    padding-left: 15px;
    width: 100%;
  }
  .hero__title {
    width: 100%;
    margin: auto;
  }
  .hero__subtitle {
    font-size: 0.75rem;
  }
  .hero__icons i {
    font-size: 1.75rem;
    padding-top: 0;
  }
  .about__mosaic {
    margin-top: -50px;
    grid-template-rows: repeat(4, 75px);
    grid-template-columns: repeat(4, 75px);
  }
}

@media (max-width: 425px) {
  .about__mosaic {
    margin-top: -25px;
  }
}

@media (max-width: 400px) {
  .hero__icons i {
    background: var(--black);
    color: var(--white);
    font-size: 1rem;
  }
  .about__mosaic {
    margin-top: 0;
    grid-template-rows: repeat(4, 60px);
    grid-template-columns: repeat(4, 60px);
  }
  .project__image {
    width: 235px;
  }
}

@media (max-width: 380px) {
  .hero__title {
    line-height: 0.95;
    padding: 5px 0;
  }
  .about__mosaic {
    margin-top: 25px;
  }
  .slick-dots li button {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 370px) {
  .hero__title__block {
    padding-left: 30px;
  }
  .hero__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 365px) {
  .hero__icons {
    padding-top: 10px;
  }
  .about__mosaic {
    margin-top: 50px;
  }
}

@media (max-width: 358px) {
  .about__mosaic {
    margin-top: 75px;
  }
}

@media (max-width: 338px) {
  .about__mosaic {
    margin-top: 125px;
  }
}
