* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, a {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 3vw;
    color: #090D26;
    letter-spacing: 0.25em;
}

h2 {
    font-weight: 400;
    font-size: 2vw;
}

h3 {
    font-weight: 400;
    font-size: 1.75vw;
}

h4 {
    font-weight: 400;
    font-size: 1.5vw;
}

p {
    font-weight: 400;
    font-size: 1.4vw;
}

a {
    text-decoration: none;
    font-size: 0.75vw;
}

a:visited {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Header Section */

@keyframes header {
    0% {
        transform: translate(0,10vh);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

.header-section {
    padding: 25vh 0;
    height: 98vh;
    background-image: url(../images/mountains-sm.jpg);
    background-size: 100% 100%;
}

    .header-section h1 {
        display: inline-block;
        padding: 2vh;
        border-top: 3px solid #090D26;
        border-bottom: 3px solid #090D26;
        opacity: 0;
        animation: header 1.5s 1.25s forwards;
    }

    .header-section h2 {
        margin-top: 2vh;
        opacity: 0;
        animation: header 1.5s 1.5s forwards;
        color: #090D26;
        letter-spacing: 0.25em;
    }

/* About Section */

.about-section {
    position: relative;
    height: 60vh;
    background: #91C4D9;
    text-align: left;
    display: flex;
}
    
.about-section:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 0 14vh 100vw;
    border-color: transparent transparent #91C4D9;
}

    .about-section .about-me {
        flex: 1.5;
    }

    .about-section .profile-photo-container {
        flex: 1;
        margin-top: 7vh;
    }

    .about-section h3 {
        padding: 5vh 0 1vh 0;
        border-bottom: 2px solid #4D628C;
    }

    .about-section h3, .about-section p {
        color: #090D26;
        margin-left: 22vw;
    }

    .about-section p {
        padding-top: 2.5vh;
    }

    .about-section .profile-photo {
        border: 6px solid #D9AF8B;
        border-radius: 100%;
        width: 15vw;
        margin-left: 2vw;
    }

/* Portfolio Section */

.portfolio-section {
    position: relative;
    height: 200vh;
    background: #4D628C;
    text-align: left;
}

.portfolio-section:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 100vw 14vh 0;
    border-color: transparent transparent #4D628C;
}

.portfolio-section h3 {
    width: 36%;
    padding: 5vh 0 1vh 0;
    border-bottom: 2px solid #91C4D9;
    margin: 0 0 5vh 22vw;
    color: white;
}

    .portfolio-section .portfolio-projects {
        margin: auto;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .portfolio-projects .project-container {
            width: 45%;
            background: #090D26;
            margin-bottom: 5vh;
            border-radius: 0.5vh;
            border: 2px solid #090D26;
        }

            .portfolio-projects .project-container img {
                width: 100%;
                border-radius: 0.5vh;
            }

        .portfolio-projects .project-description {
            margin: 0 3vh;
        }

            .portfolio-projects .project-description h4 {
                padding: 1vh 0 1vh 0;
                border-bottom: 1px solid #91C4D9;
            }
            
            .portfolio-section a {
                float: right;
            }

            .portfolio-section .fa-github, .portfolio-section .fa-codepen {
                margin-right: 0.5vh;
                color: #D9665B;
                font-size: 2.5vh;
            }
            
            .portfolio-section .fa-github {
                margin-left: 1.5vh;
            }
            
            .portfolio-section .fa-github:hover, .portfolio-section .fa-codepen:hover {
                color: #91C4D9;
            }

            .portfolio-projects .project-description p {
                padding: 1.5vh 0 0 0;
                font-size: 1vw;
                line-height: 2.75vh;
            }

            .portfolio-projects .project-description .project-icons {
                padding: 2vh 0;
                color: #D9665B;
                display: flex;
                justify-content: center;
            }

            .portfolio-projects .project-description .project-icons i {
                font-size: 2vw;
                margin: 0 1vh;
            }

/* Contact Section */

.contact-section {
    position: relative;
    height: 12vh;
    background: #D9665B;
}

.contact-section:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 0 14vh 100vw;
    border-color: transparent transparent #D9665B;
}

    .contact-section .contact-icons {
        display: flex;
        justify-content: center;
    }

        .contact-section .contact-icons i {    
            color: white;
            font-size: 3vw;
            margin: 0 1vh;
            vertical-align: middle;
        }

    .contact-section p {
        padding-top: 2vh;
        font-size: 1vw;
    }

/* Responsive Sizes */

@media screen and (max-width:555px) {
    h1 {
        font-size: 2.5vh;
    }

    h2 {
        font-size: 1.75vh;
    }

    h3 {
        font-size: 3vh;
    }
    
    h4 {
        font-size: 2.5vh;
    }
    
    p {
        font-size: 2vh;
    }

    a {
        font-size: 1.5vh;
        line-height: 1.5vh;
    }

    .header-section {
        padding: 25vh 0;
        height: 100vh;
    }

    /* About Section */

    .about-section {
        height: 72vh;
        flex-direction: column;
    }

        .about-section h3, .about-section p {
            margin-left: 0;
        }

        .about-section h3 {
            text-align: left;
            margin: 4vh 0 0 4vh;
            padding: 0;
            width: 38%;
        }

        .about-section p {
            width: 90%;
            margin: 2.5vh 0 0 4vh;
            padding: 0;
            font-size: 2.25vh;
        }

        .about-section .about-me {
            flex: 0;
            padding-bottom: 3vh;
        }

        .about-section .profile-photo-container {
            text-align: center;
            margin-top: 0;
        }

        .about-section .profile-photo {
            width: 23vh;
            margin: 0;
            padding: 0;
        }

    /* Portfolio Section */

    .portfolio-section {
        height: 350vh;
    }

        .portfolio-section h2 {
            display: inline-block;
            width: 70%;
            margin: 0 4vh 2vh;
            padding: 0 0 1vh 0;
            font-size: 4vh;
        }

        .portfolio-section h3 {
            padding-top: 0;
            margin: 0 0 5vh 4vh;
        }

        .portfolio-section .portfolio-projects {
            width: 90%;
            flex-direction: column;
        }

            .portfolio-projects .project-container {
                width: 100%;
            }
            
            .portfolio-projects .project-description p {
                font-size: 2vh;
            }

            .portfolio-projects .project-description .project-icons i {
                font-size: 4vh;
            }

    /* Contact Section */

    .contact-section {
        height: 26vh;
    }

    .contact-section .contact-icons i {
        font-size: 8vh;
        margin: 2vh;
    }

    .contact-icons {
        display: flex;
        flex-direction: row;
    }

    .contact-section p {
        font-size: 1.75vh;
    }
}