/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --black: #000000;
  --white: #f2f2f2;
  --dark-theme-gold: #f2a30f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: var(--white);
  background: var(--black);
  overflow-x: hidden;
  padding-bottom: 50px;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 800;
  font-size: 2.5rem;
}

p {
  font-weight: 300;
  font-size: 0.5rem;
}

a,
a:visited {
  color: var(--black);
  text-decoration: none;
}

.double__border__button {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 50px;
  background: var(--dark-theme-gold);
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--black);
  outline: none;
  border: 6px solid var(--black);
  -webkit-box-shadow: 0 0 0 0px var(--white), 0 0 0 3px var(--dark-theme-gold);
  box-shadow: 0 0 0 0px var(--white), 0 0 0 3px var(--dark-theme-gold);
}

.double__border__button:hover {
  cursor: pointer;
  color: var(--white);
  border: 6px solid var(--white);
  background: var(--dark-theme-gold);
  -webkit-box-shadow: 0 0 5px var(--dark-theme-gold), 0 0 18px var(--dark-theme-gold), 0 0 36px var(--dark-theme-gold);
  box-shadow: 0 0 5px var(--dark-theme-gold), 0 0 18px var(--dark-theme-gold), 0 0 36px var(--dark-theme-gold);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* Hero Section */

@-webkit-keyframes hero {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes hero {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.hero__overlay {
  background-image: url('../images/hero-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.hero__title__block {
  position: absolute;
}

.hero__title {
  padding: 20px;
  border-top: 4px solid var(--white);
  border-bottom: 4px solid var(--white);
  opacity: 0;
  -webkit-animation: hero 1.5s 1.25s forwards;
  animation: hero 1.5s 1.25s forwards;
  text-shadow: 2px 2px black;
}

.hero__subtitle {
  margin-top: 12px;
  opacity: 0;
  -webkit-animation: hero 1.5s 1.5s forwards;
  animation: hero 1.5s 1.5s forwards;
  letter-spacing: 0.225rem;
  text-shadow: 2px 2px black;
}

.hero__icons {
  padding-top: 25px;
}

.hero__icons i {
  background: black;
  color: white;
}

.hero__icons .fa-github-square {
  padding-right: 25px;
  opacity: 0;
  -webkit-animation: hero 1.5s 1.75s forwards;
  animation: hero 1.5s 1.75s forwards;
}

.hero__icons .fa-linkedin {
  opacity: 0;
  -webkit-animation: hero 1.5s 2s forwards;
  animation: hero 1.5s 2s forwards;
}

.hero__icons .fa-envelope-square {
  padding-left: 25px;
  opacity: 0;
  -webkit-animation: hero 1.5s 2.25s forwards;
  animation: hero 1.5s 2.25s forwards;
}

.fa-chevron-down {
  padding-top: 75px;
  opacity: 0;
  -webkit-animation: fadein 1.5s 3.5s forwards;
  animation: fadein 1.5s 3.5s forwards;
}

/* About Section */

.about {
  position: relative;
  margin: 0 auto 25px;
}

.about__overlay,
.about__overlay__tablet,
.about__overlay__mobile,
.about__overlay__xs {
  background-image: url('../images/about-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.about__overlay__tablet,
.about__overlay__mobile,
.about__overlay__xs {
  display: none;
}

.about__description {
  position: absolute;
  top: 0;
  width: 55%;
  margin-left: 15vw;
}

.about__description p {
  font-size: 1rem;
  margin-top: 20px;
}

.about__mosaic {
  position: absolute;
  top: 385px;
  margin-left: 30vw;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -ms-grid;
  display: grid;
  grid-template:
    '. mosaic1 mosaic1 .'
    'mosaic3 mosaic-center mosaic-center mosaic2'
    'mosaic3 mosaic-center mosaic-center mosaic2'
    '. mosaic4 mosaic5 mosaic5';
  -ms-grid-rows: 125px 15px 125px 15px 125px 15px 125px;
  grid-template-rows: repeat(4, 125px);
  -ms-grid-columns: 125px 15px 125px 15px 125px 15px 125px;
  grid-template-columns: repeat(4, 125px);
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about__mosaic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mosaic1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: mosaic1;
  position: relative;
  left: 60px;
  opacity: 0;
}

.mosaic2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: mosaic2;
  opacity: 0;
}

.mosaic3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: mosaic3;
  position: relative;
  top: 60px;
  opacity: 0;
}

.mosaic-center {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: mosaic-center;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.mosaic4 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: mosaic4;
  opacity: 0;
}

.mosaic5 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: mosaic5;
  opacity: 0;
}

.mosaic1.animated {
  -webkit-animation-name: mosaic1;
  animation-name: mosaic1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: mosaic1;
  position: relative;
  left: 60px;
  opacity: 1;
}

.mosaic2.animated {
  -webkit-animation-name: mosaic2;
  animation-name: mosaic2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: mosaic2;
  opacity: 1;
}

.mosaic3.animated {
  -webkit-animation-name: mosaic3;
  animation-name: mosaic3;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: mosaic3;
  position: relative;
  top: 60px;
  opacity: 1;
}

.mosaic-center.animated {
  -webkit-animation-name: mosaiccenter;
  animation-name: mosaiccenter;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mosaic4.animated {
  -webkit-animation-name: mosaic4;
  animation-name: mosaic4;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: mosaic4;
  opacity: 1;
}

.mosaic5.animated {
  -webkit-animation-name: mosaic5;
  animation-name: mosaic5;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: mosaic5;
  opacity: 1;
}

@-webkit-keyframes mosaic1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5) translate(0, -100px);
    transform: scale(1.5) translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes mosaic2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5) translate(200px, -50px);
    transform: scale(1.5) translate(200px, -50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes mosaic3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5) translate(-100px, -50px);
    transform: scale(1.5) translate(-100px, -50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes mosaiccenter {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes mosaic4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5) translate(-75px, 150px);
    transform: scale(1.5) translate(-75px, 150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@-webkit-keyframes mosaic5 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5) translate(100px, 175px);
    transform: scale(1.5) translate(100px, 175px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

.social__media__icon {
  color: var(--white);
  margin: 0;
}

.social__media__icon:hover {
}

.fa-github-square {
  color: #6f42c1;
  background: var(--white);
}

.fa-linkedin {
  color: #0077b5;
  background: var(--white);
}

.fa-envelope-square {
  color: var(--white);
  background: red;
}

/* Projects Section */

.projects {
  margin: 0;
  position: relative;
}

.projects__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../images/projects-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.projects__section__title {
  position: relative;
  text-align: right;
  margin: 0 16vw 75px auto;
}

/* Projects Slider */
.projects__slider {
  width: 90%;
  margin: 200px auto 0;
}

.flexing {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 800px;
  outline: none;
}

.project__left__column {
  width: 40%;
  padding-left: 30px;
}

.project__right__column {
  width: 60%;
}

.project__title {
  overflow: hidden;
  font-size: 32px;
  font-weight: 800;
  color: var(--dark-theme-gold);
}

.project__description {
  overflow: hidden;
  padding: 20px 0 40px;
  font-size: 1rem;
}

.project__title span,
.project__description span {
  display: block;
  -webkit-transition-delay: 4s;
  -o-transition-delay: 4s;
  transition-delay: 4s;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  -o-transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
  -webkit-transform: translateY(105%) translateZ(0);
  transform: translateY(105%) translateZ(0);
}

.slick-active .project__title span,
.slick-active .project__description span {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  list-style-type: none;
  top: -150px;
  left: 15px;
}

.slick-dots li button {
  font-size: 22px;
  font-weight: 800;
  padding: 10px 15px;
  border: 3px solid var(--dark-theme-gold);
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: var(--white);
  margin-top: 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 0 10px;
}

.slick-dots .slick-active button {
  background-color: var(--dark-theme-gold);
  color: var(--black);
}

.project__animation1,
.project__animation2,
.project__animation3,
.project__animation4,
.project__animation5,
.project__animation6 {
  width: 400px;
  position: relative;
}

.project__animation1,
.project__animation3,
.project__animation5 {
  left: 100px;
  top: 0;
}

.project__animation2,
.project__animation4,
.project__animation6 {
  left: 320px;
  top: -200px;
}

.slick-active .project__animation1.animated {
  -webkit-animation-name: projectanimation1;
  animation-name: projectanimation1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 100px;
  top: 0;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation2.animated {
  -webkit-animation-name: projectanimation2;
  animation-name: projectanimation2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 320px;
  top: -200px;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation3.animated {
  -webkit-animation-name: projectanimation3;
  animation-name: projectanimation3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 100px;
  top: 0;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation4.animated {
  -webkit-animation-name: projectanimation4;
  animation-name: projectanimation4;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 320px;
  top: -200px;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation5.animated {
  -webkit-animation-name: projectanimation5;
  animation-name: projectanimation5;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 100px;
  top: 0;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation6.animated {
  -webkit-animation-name: projectanimation6;
  animation-name: projectanimation6;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  left: 320px;
  top: -200px;
  z-index: 8;
  opacity: 1;
}

@-webkit-keyframes projectanimation1 {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes projectanimation1 {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes projectanimation2 {
  0% {
    left: 220px;
    opacity: 0;
  }
  100% {
    left: 320px;
    opacity: 1;
  }
}

@keyframes projectanimation2 {
  0% {
    left: 220px;
    opacity: 0;
  }
  100% {
    left: 320px;
    opacity: 1;
  }
}

@-webkit-keyframes projectanimation3 {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@keyframes projectanimation3 {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes projectanimation4 {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: -200px;
    opacity: 1;
  }
}

@keyframes projectanimation4 {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: -200px;
    opacity: 1;
  }
}

@-webkit-keyframes projectanimation5 {
  0% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@keyframes projectanimation5 {
  0% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes projectanimation6 {
  0% {
    top: -150px;
    opacity: 0;
  }
  100% {
    top: -200px;
    opacity: 1;
  }
}

@keyframes projectanimation6 {
  0% {
    top: -150px;
    opacity: 0;
  }
  100% {
    top: -200px;
    opacity: 1;
  }
}

/* Footer Section */

.footer {
  text-align: center;
}

.footer p {
  font-size: 1rem;
}
