:root {
  --black: #000000;
  --white: #f2f2f2;
  --grey: #a6a6a6;
  --dark-theme-pink: #f20574;
  --dark-theme-yellow: #f2ce16;
  --dark-theme-gold: #f2a30f;
  --dark-theme-light-blue: #04adbf;
  --dark-theme-medium-blue: #0367a6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  background: var(--black);
  overflow-x: hidden;
  padding-bottom: 50px;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 800;
  font-size: 2.5rem;
}

p {
  font-size: 0.6rem;
}

a,
a:visited {
  color: var(--white);
  text-decoration: none;
}

button {
  padding: 10px 30px;
  margin-top: 50px;
  background: var(--dark-theme-gold);
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--black);
  outline: none;
  border: 6px solid var(--black);
  box-shadow: 0 0 0 0px var(--white), 0 0 0 3px var(--dark-theme-gold);
}

button:hover {
  cursor: pointer;
  color: var(--white);
  border: 6px solid var(--white);
  background: var(--dark-theme-gold);
  box-shadow: 0 0 5px var(--dark-theme-gold), 0 0 18px var(--dark-theme-gold), 0 0 36px var(--dark-theme-gold);
  transition: 0.5s;
}

/* Hero Section */

@-webkit-keyframes hero {
  from {
    -webkit-transform: translate(0, 10vh);
    transform: translate(0, 10vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes hero {
  from {
    -webkit-transform: translate(0, 10vh);
    transform: translate(0, 10vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../images/hero-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 1280px;
}

.hero__title__block {
}

.hero__title {
  padding: 2vh;
  border-top: 4px solid var(--white);
  border-bottom: 4px solid var(--white);
  opacity: 0;
  -webkit-animation: hero 1.5s 1.25s forwards;
  animation: hero 1.5s 1.25s forwards;
  text-shadow: 2px 2px black;
}

.hero__subtitle {
  margin-top: 2vh;
  opacity: 0;
  -webkit-animation: hero 1.5s 1.5s forwards;
  animation: hero 1.5s 1.5s forwards;
  letter-spacing: 0.225rem;
  text-shadow: 2px 2px black;
}

/* About Section */

.abouttrigger {
  position: relative;
  top: -10px;
}

.about {
  margin: 0 auto 25px;
  padding: 0 50px;
  height: 1280px;
}

.about__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../images/about-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 1280px;
}

.about__description {
  width: 60%;
  margin-left: 14vw;
  position: relative;
}

.about__description p {
  font-size: 1rem;
  margin-top: 20px;
}

.about__mosaic {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -ms-grid;
  display: grid;
  grid-template:
    '. mosaic1 mosaic1 .'
    'mosaic3 mosaic-center mosaic-center mosaic2'
    'mosaic3 mosaic-center mosaic-center mosaic2'
    '. mosaic4 mosaic5 mosaic6';
  -ms-grid-rows: auto 15px auto 15px auto;
  grid-template-rows: repeat(4, 100px);
  -ms-grid-columns: 100px 15px 100px 15px 100px 15px 100px;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -68px;
}

.about__mosaic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mosaic1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: mosaic1;
  position: relative;
  left: 60px;
}

.mosaic2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: mosaic2;
}

.mosaic3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: mosaic3;
  position: relative;
  top: 60px;
}

.mosaic-center {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: mosaic-center;
}

.mosaic4 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: mosaic4;
}

.mosaic5 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: mosaic5;
}

.mosaic6 {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  grid-area: mosaic6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__mosaic__icon {
  color: var(--white);
  margin: 0 4px;
}
.about__mosaic__icon:hover {
  color: var(--dark-theme-gold);
}

/* Projects Section */

.projects {
  margin: 0;
  position: relative;
  height: 1280px;
}

.projects__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../images/projects-section-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-height: 1280px;
}

.projects__section__title {
  position: relative;
  text-align: right;
  margin: 0 16vw 75px auto;
}

/* Projects Slider */
.projects__slider {
  width: 90%;
  margin: 200px auto 0;
}

.flexing {
  display: flex !important;
  height: 800px;
  outline: none;
}

.project__left__half {
  width: 40%;
  padding-left: 30px;
}

.project__right__half {
  width: 60%;
}

.project__title {
  overflow: hidden;
  font-size: 32px;
  font-weight: 800;
  color: var(--dark-theme-gold);
}

.project__description {
  overflow: hidden;
  padding: 20px 0 40px;
  font-size: 20px;
}

.project__title span,
.project__description span {
  display: block;
  transition-delay: 4s;
  transition: transform 0.75s ease-in-out;
  transform: translateY(105%) translateZ(0);
}

.slick-active .project__title span,
.slick-active .project__description span {
  transform: none;
}

.slick-dots {
  display: flex;
  position: absolute;
  list-style-type: none;
  top: -150px;
  left: 15px;
}

.slick-dots li button {
  font-size: 22px;
  font-weight: 800;
  padding: 10px 15px;
  border: 3px solid var(--dark-theme-gold);
  box-shadow: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: white;
  margin-top: 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 0 10px;
}

.slick-dots .slick-active button {
  background-color: var(--dark-theme-gold);
  color: var(--black);
}

.project__animation1,
.project__animation2,
.project__animation3,
.project__animation4,
.project__animation5,
.project__animation6 {
  width: 450px;
}

.slick-active .project__animation1 {
  width: 500px;
  animation-name: projectanimation1;
  animation-duration: 1s;
  left: 100px;
  top: 0;
  z-index: 10;
  opacity: 1;
}

.slick-active .project__animation2 {
  animation-name: projectanimation2;
  animation-duration: 2s;
  left: 380px;
  top: 60px;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation3 {
  width: 500px;
  animation-name: projectanimation3;
  animation-duration: 2s;
  left: 100px;
  top: 0;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation4 {
  animation-name: projectanimation4;
  animation-duration: 2s;
  left: 320px;
  top: 340px;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation5 {
  width: 500px;
  animation-name: projectanimation5;
  animation-duration: 2s;
  left: 100px;
  top: 0;
  z-index: 8;
  opacity: 1;
}

.slick-active .project__animation6 {
  animation-name: projectanimation6;
  animation-duration: 2s;
  left: 320px;
  top: 340px;
  z-index: 8;
  opacity: 1;
}

@keyframes projectanimation1 {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes projectanimation2 {
  0% {
    left: 280px;
    opacity: 0;
  }
  50% {
    left: 280px;
    opacity: 0;
  }
  100% {
    left: 380px;
    opacity: 1;
  }
}

@keyframes projectanimation3 {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@keyframes projectanimation4 {
  0% {
    top: 400px;
    opacity: 0;
  }
  100% {
    top: 340px;
    opacity: 1;
  }
}

@keyframes projectanimation5 {
  0% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 100px;
    opacity: 1;
  }
}

@keyframes projectanimation6 {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 340px;
    opacity: 1;
  }
}

/* Footer Section */

.footer {
  margin: 50px 0 0;
  text-align: center;
}

.footer a {
  -webkit-text-decoration: underline var(--white);
  text-decoration: underline var(--white);
}

.footer a:hover {
  color: var(--dark-theme-gold);
  -webkit-text-decoration: underline var(--dark-theme-gold);
  text-decoration: underline var(--dark-theme-gold);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__links a {
  margin: 5px;
}

/* Media Queries */

@media (max-width: 600px) {
  .contact__form {
    grid-template-areas: 'name name' 'email email' 'message message';
  }
}
